@model string

@if (string.IsNullOrEmpty(Model))
{
	<form method="post" asp-action="Login" asp-controller="Account">
		<div>
			<button type="submit" class="btn btn-light">Sign In</button>
		</div>
	</form>
}
else
{
	<div class="dropdown">
		<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			@Model
		</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">Settings</a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log out</a></li>
		</ul>
	</div>
}